<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Mobile Home</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/fontawesome/4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/ionicons/2.0.1/css/ionicons.min.css}" />
<script th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>

</head>
<body>

	<div class="container">
	
		asdjkflsadfjl
	
	
	</div>


</body>
</html>